@{
    ViewData["Title"] = "Accueil bibliothèque";
}

<h1>Gestion de bibliothèque</h1>

<ul>
    <li><a href="/Users/Create">Créer un utilisateur</a></li>
    <li><a href="/Sites/Create">Créer une bibliothèque</a></li>
    <li><a href="/Books/Create">Créer un livre</a></li>
    <li><a href="/Books/AddCopy">Ajouter un exemplaire de livre</a></li>
    <li><a href="/Loans/Borrow">Emprunter un livre</a></li>
    <li><a href="/Loans/Return">Retourner un livre</a></li>
    <li><a href="/Transfers/Request">Demander un transfert</a></li>
    <li><a href="/swagger">Swagger (API technique)</a></li>
</ul>
